*{
    margin: 1px;
    padding: 0px;
}
.gridwrapper{
        display: grid;
        width: 100vw;
        height: 100vh;
        grid-template-areas: 
            "a1 a2 a3"
            "a4 a4 a4"
            "a5 a5 a5"
            "a6 a6 a6"
            "a7 a7 a7"
            "fo fo fo"
            ;
            grid-gap: 1px;

}
.newstitle {
    color: #234b9a;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
    font-size: 0.7em;
    font-weight: 600;
    letter-spacing: 1px;
    text-align: center;
    color: #234b9a;
  }
.spelarposition{
    margin-top: 20px;
    text-align: left;
}
.spelareilaget{
    margin-top: 20px;
    background-color: lightskyblue;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    align-items: center;
    margin: 10px;
    grid-gap: 10px;
    overflow: auto;
    margin-left: 10%;
}

.mellanrum{
    margin-top: 30px;

}
.läsmer{
    text-align: right;
    position: absolute;
    bottom: 0;
}

.vårasocialamedier{
    margin-top: 30px;
    text-align: center;
    background-color: lightskyblue;
    margin-bottom: 0%;
}
.kontaktaoss{
    margin-top: 0;
    text-align: center;
    background-color: lightskyblue;
    
}


.nav{
    justify-content: left;
    align-items: center;
    min-height: 10vh;
    background-color: lightskyblue;
    font-family: sans-serif;
    text-align: center;
}

hr{
    color: black;

}
a {
    text-decoration: none;
    color: black;
  }
.container{
    text-align: center;
    background-color: lightskyblue;
}
.spelarinfo{
    background-color: white;
    margin-top: 20px;
    margin-left: 10px;
}

.Hemmalag{
    grid-area: a1;
    background-color: white;
}
.Matchinfo1{
    grid-area: a2;
    background-color: white;
    width: 100px;
    align-items: center;
}
.Bortalag{
    grid-area: a3;
    background-color: white;
    margin-left: 40px;
    margin-right: 20px;
}
.Eftermatch{
    grid-area: a4;
    display: block;
    font-weight: 400;
    margin: 10 auto;
    background-color: #eee;
    margin-top: 25px;
    text-align: center;

}
.Införmatch{
    grid-area: a5;
    display: block;
    font-weight: 400;
    margin: 10 auto;
    background-color: #eee;
    margin-top: 25px;
    text-align: center;
    color: black;
}
.Presenteradtrupp{
    grid-area: a6;
    display: block;
    margin: 10 auto;
    background-color: #eee;
    margin-top: 25px;
    text-align: center;
}
.Nyaspelare{
    grid-area: a7;
    display: block;
    font-weight: 100;
    margin: 10 auto;
    background-color: #eee;
    margin-top: 25px;
    text-align: center;
}
button{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgba(255,255,255,0);
    border-radius:1em;
    box-sizing: border-box;

    font-family:'Roboto',sans-serif;
    font-weight:300;
    text-shadow: 0 0.04em 0.04em rgba(0,0,0,0.35);
    text-align:center;
    background-color: #1b1e24;
    color: white;
    margin-bottom: 4px;
}
.button2{
    color: white;

}

.datum{
    text-align: end;
    position: relative;
    bottom: 0;
}

.footer{
    grid-area: fo;
    background-color: lightskyblue;
    margin: 100;
    min-height: 10;
}
.navlinks{
    display: grid;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    z-index: 1;
    right: 0px;
    height: 80vh;
    top: -94.4vh;
    background-color: lightskyblue;
    align-items: center;
    width: 60%;
}
.navactive{
    transform: translateY(100vh)
}
.navlinks li{
    list-style: none;
}
.navlinks a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 10%;
}
.burger{
    margin-right: 50px;
}
.line1{
    transform: rotate(0deg) translate(5px, 4px);
}
.line2{
    transform: rotate(0deg) translate(5px, 8px);
}
.line3{
    transform: rotate(0deg) translate(5px, -6px);
}
.toggle .line1{
    transform: rotate(45deg) translate(5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(-45deg) translate(5px, -6px);
}
.nextmatch{
    background-color: white;
}
.NolIK{
    float: right;
}
.matchinfo{
    display: grid;
    text-align: center
}
.merinfo{
    text-align: center;
    display: inline-block;
    border-style: solid;
  
    
    
}
.Gais{
    float: left;
}
.spelare{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    margin: 10px;
    grid-gap: 10px;
    overflow: auto;
}

table {  
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    width: 640px; 
    border-collapse: 
    collapse; border-spacing: 0; 
}

td, th {  
    border: 1px solid; /* Kanske göra den "solid transparent" för att få bort linjerna */
    height: 30px; 
    transition: all 0.3s;
}

th {  
    background: #DFDFDF;
    font-weight: bold;
}

td {  
    background: #FAFAFA;
    text-align: center;
}
       
tr:nth-child td { 
    background: #F1F1F1; 
}        
tr:nth-child td { 
    background: #FEFEFE; 
}  

tr td:hover { 
    background: #666; color: #FFF; 
}  

.navcomputer{
    display: none;
}
a h2,.matcher,.omklubbentext {
    text-align: center;
}
li{
    list-style-type: none;
}

h2{
    color: black;
}
.tjanstlayout{
    padding-top: 10vh;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
    text-align: center;
    margin: auto;
    max-width: 55vw;
}
.rubriker{
    display: block;
  font-size: 2.0em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: normal;
  text-decoration: underline #ff6500;
  padding-bottom: 10px;
  padding-top: 30Px;
}

@media screen and (min-width: 992px) {
    .navlinks{
        display: none;
    }
    .burger{
        display: none;
    }
    .navcomputer{
        display: inline-flex;
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    .navcomputer li {
        padding: 14px 16px;
        border: 2px solid white;
        margin:10px;
       }
    .spelarinfo,.spelarposition,.Eftermatch,.Införmatch,.Presenteradtrupp,.Nyaspelare,.matcher,.graph,.omklubben{
        margin-left: 10%;
        margin-right: 10%;
    }
    .Matchinfo1{
        width: 150px;

    }
}

    