*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    text-align: center;
}
nav{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10vh;
    background-color: blue;
    font-family: sans-serif;
}
.navlinks{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 90vh;
    top: -90vh;
    background-color: lightpink;
    align-items: center;
    width: 20%;
}
.navactive{
    transform: translateY(100vh)
}
.navlinks li{
    list-style: none;
}
.navlinks a{
    color: black(223, 144, 70);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 10%;
}
.burger{
    margin-right: 50px;
}
.line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.line2{
    opacity: 0;
}
.line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}