*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
header{
    text-align: center;
}
nav{
    display: grid;
    justify-content: left;
    align-items: center;
    height: 10vh;
    background-color: blue;
    font-family: sans-serif;
}
.navlinks{
    display: grid;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 95vh;
    top: -94.4vh;
    background-color: black;
    align-items: center;
    width: 60%;
}
.navactive{
    transform: translateY(100vh)
}
.navlinks li{
    list-style: none;
}
.navlinks a{
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 20px;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color: black;
    margin: 5px;
    border-radius: 10%;
}
.burger{
    margin-right: 50px;
}
.line1{
    transform: rotate(0deg) translate(5px, 4px);
}
.line2{
    transform: rotate(0deg) translate(5px, 8px);
}
.line3{
    transform: rotate(0deg) translate(5px, -6px);
}
.toggle .line1{
    transform: rotate(45deg) translate(5px, 6px);
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(-45deg) translate(5px, -6px);
}
.nextmatch{
    background-color: white;
}
.lag1{
    float: left;
}
.matchinfo1{
    text-align: center
}
.matchinfo2{
    text-align: center
}
.matchinfo3{
    text-align: center
}
.lag2{
    float: right
}