.article{
    display: inline-block;
    background-color: red
}
.matchinfo{
    text-align: center;

}




.toggle .line1{
    transform: rotate(0deg) translate(5px, 4px);
}
.toggle .line2{
    transform: rotate(0deg) translate(5px, 8px);
}
.toggle .line3{
    transform: rotate(0deg) translate(5px, -6px);
}
.line1{
    transform: rotate(45deg) translate(5px, 6px);
}
.line2{
    opacity: 0;
}
.line3{
    transform: rotate(-45deg) translate(5px, -6px);
}